body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.history-table tr .linkrow {
  visibility: hidden;
}

.history-table tr:hover .linkrow {
  visibility: visible;
}
